$breakpoints: (
        small: 320px,
        xsmall: 570px,
        medium: 744px,
        pad: 768px,
        xmedium: 988px,
        large: 1000px,
        morelarge: 1144px,
        xlarge: 1435px,
        note: 1440px,
        xxlarge: 1920px,
);

@function map-next($map, $key) {
  $values: map-keys($map);
  $i: 0;

  @if map-has-key($map, $key) {
    $i: index($values, $key) + 1;
  }

  @if ($i > length($values) or $i == 0) {
    @return null;
  } @else {
    @return map-get($map, nth($values, $i));
  }
}

@function breakpoint-query($val) {
  $bp: nth($val, 1);
  $bp-val: 0;
  $bp-max: 0;
  $dir: if(length($val) > 1, nth($val, 2), up);
  $str: '';
  $named: false;

  @if $bp == 'landscape' or $bp == 'portrait' {
    @return '(orientation: #{$bp})';
  }
  @else if $bp == 'retina' {
    @return '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
  }

  @if type-of($bp) == 'string' {
    @if map-has-key($breakpoints, $bp) {
      $bp-val: map-get($breakpoints, $bp);
      $named: true;

      @if $dir == 'only' {
        $bp-max: map-next($breakpoints, $bp);
      }
      @else if $dir == 'down' {
        $bp-max: $bp-val - 1;
      }
    }
    @else {
      $bp-val: 0;
      @warn 'breakpoint(): "#{$bp}" is not defined in $breakpoints.';
    }
  } @else {
    $bp-val: $bp;
  }

  @if $bp-val > 0 or $dir == 'only' or $dir == 'down' {
    @if $dir == 'only' {
      @if $named {
        @if $bp-val > 0 {
          $str: '(min-width: #{$bp-val})';
          @if $bp-max != null {
            $str: $str + ' and ';
          }
        }
        @if $bp-max != null {
          $str: $str + '(max-width: #{$bp-max})';
        }
      } @else {
        @warn 'breakpoint(): Only named breakpoints can have `only` range.';
      }
    }
    @else if $dir == 'down' {
      $max: if($named, $bp-max, $bp-val);
      @if $named or $bp-val > 0 {
        @if $max != null {
          $str: '(max-width: #{$max})';
        }
      }
    }
    @else if $bp-val > 0 {
      $str: '(min-width: #{$bp-val})';
    }
  }

  @return $str;
}

@mixin breakpoint($value) {
  $str: breakpoint-query($value);

  @if $str == '' {
    @content;
  } @else {
    @media screen and #{$str} {
      @content;
    }
  }
}