$black: rgba(30, 29, 31, 1);
$white: rgba(249, 249, 249, 1);
$green: rgba(213, 255, 64, 1);
$purple: rgba(122, 0, 209, 1);
$grey: rgba(255, 255, 255, 0.20);
$lightgrey:  rgba(249, 249, 249, 0.20);

//Font-family
$Righteous: 'Righteous', sans-serif;
$Raleway: 'Raleway', sans-serif;

//Font-size
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 15px;
$font-size-xxm: 16px;
$font-size-xm: 20px;
$font-size-m: 21px;
$font-size-xxl: 30px;
$font-size-xl: 90px;
$font-size-l: 150px;
$font-size-g: 228px;


// Font Weights
$small:100;
$regular: 400;
$medium: 500;
$bold: 700;


// Line Heights
$small: 20px;
$tight: 25px;
$medium: 30px;
$mediuml: 100px;
$loose: 150px;
$large: 170px;

